*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Jost', sans-serif;
}
/* #banner{ */
	/* background-color:#37517e; */
	/* height:75vh; */
/* } */
.container{
	width:80%;
	margin:auto;
	padding-top:30px;
}
.banner-row{
	display:flex;
	/* flex-wrap:wrap; */
	align-items:center;
}
/* .banner-col{ */
	/* width:50%; */
/* } */

.banner-col-btn span, .banner-col-btn i{
	color:#fff;
}

.banner-col-img img{
	width:100%;
}
.banner-col-content1 h1{
	/* font-size:3rem; */
	color:#fff;
	padding:20px 0;
	font-weight:700;
}
.banner-col-content1 p{
	/* font-size:1.5rem; */
	color:#ffffff85;
	padding-bottom:3rem;
}
.banner-col-btn button{
	padding:10px;
	width:25%;
	border-top-left-radius:50px;
	border-bottom-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-right-radius:50px;
	background-color:#47b2e4;
	border:none;
	color:#fff;
	font-size:15px;
}
.banner-col-btn a{
	text-decoration:none;
}
.banner-col-btn i{
	font-size:35px;
	padding: 0 5px 0 15px;
}
.banner-col-btn i:hover{
	color:#1b88bb;
}
.banner-col-btn button:hover{
	background-color:#1b88bb;
}
.banner-col-btn span{
	font-size:25px;
}

.banner-col-img{
	animation:slide 3s linear infinite;
}

@keyframes slide{
	0%{
		transform:translatey(20px);
	}
	20%{
		transform:translatey(30px);
	}
	40%{
		transform:translatey(40px);
	}
	60%{
		transform:translatey(30px);
	}
	100%{
		transform:translatey(20px);
	}
}